li {
    color:black;
    width: 100%;
    height: 100%;
    background-color: rgb(194, 29, 245);
    padding: 20px;
    margin: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modo-color {
  color: red;
  background: black;
}

